* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --text--primary: #FFFFFF;
  --text--secondary: #7C7C8A;
  --text--label: #C4C4CC;

  --bg--primary: #000A0F;
  --bg--secondary: #001119;

  --bg--inputSearch: #0D1D25;
  --bg-inputCreate: #0D1D25;
  --bg--btnLogin: #750310;
  --bg--btnOrder: #750310;

}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}